/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

/* variables */
:root {
  --primary: #4f515a;
  --secondary: #ebebeb;
  --warning: #da0f41;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--primary);
}
body {
  background: #fafafa;
}
a {
  text-decoration: none;
}

/* buttons */
button,
.btn,
label {
  background: var(--secondary);
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
button:hover,
.btn:hover {
  background: var(--primary);
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}
.warning:hover {
  background: var(--warning);
  color: white;
  cursor: pointer;
}
.warning {
  color: var(--warning);
  border: 2px solid var(--warning);
}
span.warning {
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 3px solid var(--warning)
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
  border: 1px solid var(--secondary);
  background: white;
}
input,
textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  resize: vertical;
}
input[type="file"] {
  display: none;
}
span.icon {
  font-size: 22px;
}
form label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 5px;
}
form label:hover {
  background: var(--primary);
  color: white;
}
form label:hover span.icon {
  background: var(--primary);
  color: white;
}
.checkbox {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 20fr 1fr;
}
.checkbox input {
  margin: 0;
  padding: 0;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}

.link-link {
  text-align: start;
}
.tag {
  padding: 2px 20px;
  margin: 5px;
  background: var(--secondary);
  color: black;
  border-radius: 50px;
  text-align: start;
}
.tag-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  padding-left: 20px;
}


h2 {
  border: none;
  margin: 0;
  padding: 0;
}